@media (max-width: 1024px) {
  .contactsHeader {
    text-align: center;
    position: relative;
    top: -58px;
    z-index: 9;
  }
}

@media (min-width: 1024px) {
  .contactsHeader {
    text-orientation: upright;
    writing-mode: tb;
  }
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}