@media (max-width: 1024px) {
    .portfolioHeader {
      text-align: center;
      position: relative;
      top: -58px;
      z-index: 9;
    }
  }
  

@media (min-width: 1024px) {
  .portfolioHeader {
    text-orientation: upright;
    writing-mode: tb;
  }
}

.indent-2 {
    text-indent: 2em;
}

.indent-1 {
    text-indent: 1rem;
}

.resps {
    list-style-type: disc;
}